</div>
<if condition="strtolower(CONTROLLER_NAME)!='jms' && strtolower(CONTROLLER_NAME)!='gys'">
<div class="foot-btn">
    <ul class="clearfix">
        <li><a href="<{:U('index/index')}>"><span class="foot-icon1"></span>首页</a></li>
        <li><a href="<{:U('user/myCart')}>"><span class="foot-icon2"></span>购物车</a></li>
        <li><a href="#"><span class="foot-icon3"></span>客服</a></li>
        <li><a href="<{:U('user/index')}>"><span class="foot-icon4"></span>我的</a></li>
    </ul>
</div>
</if>
</body>
</html>