<include file="Public/header" />
<div class="mui-index">
    <header class="mui-bar mui-bar-nav">
        <a href="<{:U('jms/index')}>" class="mui-iconl"></a>
        <h1 class="mui-title">商品</h1>
    </header>


    <div class="clearfix allOrder">
        <volist name="list" id="vo">
            <li>
                <dl class="clearfix">
                    <dt><{$vo.jms_gname}></dt>
                    <dd>
                        <a href="#">
                            <div class="orderImg">
                                <img src="<{$vo.photo}>">
                            </div>
                            <div class="orderInfo">
                                <p>条码：<{$vo.jms_tiaoma}></p>
                                <p>会员价：<{$vo.jms_vipprice}></p>
                                <p>订单金额：¥<{$vo.jms_price}></p>
                                <p>添加时间：<{$vo.jms_uptime}></p>
                                <p>商品编号：<{$vo.jms_spbh}></p>
                                <p>状态：<eq name="vo.jms_status" value="1">上架<else />下架</eq></p>
                            </div>
                            <!--<em class="orderIco"></em>-->
                        </a>
                    </dd>
                </dl>
                <div class="orderBtn clearfix">
                    <a href="<{:U('jms/doGoods')}>?id=<{$vo.jms_gid}>&ac=1" class="fl">上架</a>
                    <a href="<{:U('jms/doGoods')}>?id=<{$vo.jms_gid}>&ac=0" class="fr">下架</a>
                </div>
            </li>
        </volist>
        <div class="mui-pager"><{$page}></div>
    </div>
</div>
</body>
</html>