<include file="Public/header" />

<div class="mui-index" style="padding-bottom: 40px;">
    <header class="mui-bar mui-bar-nav">
        <a href="<{:U('user/myaddress')}>" class="mui-iconl"></a>
        <h1 class="mui-title">修改密码</h1>
    </header>
    <form action="<{:U('user/addAddress')}>" method="post">
        <div class="exitBox">
            <dl class="clearfix exitBoxT1">
                <dd><input name="old" placeholder="原密码" value="" type="text" class="exitIpt"></dd>
            </dl>
            <div class="exitLine"></div>
            <dl class="clearfix exitBoxT1">
                <dd><input name="new" placeholder="新密码" value="" type="text" class="exitIpt"></dd>
            </dl>
            <div class="exitLine"></div>
            <dl class="clearfix exitBoxT1">
                <dd><input name="renew" placeholder="确认密码" type="text" class="exitIpt1"></dd>
            </dl>
        <div class="add">
            <button type="submit" name="submit" class="dizhi">提交</button>
        </div>
    </form>
</div>


</body>
</html>