<include file="Public/header" />
<div class="mui-index">
<header class="mui-bar mui-bar-nav">
    <a href="<{:U('index/index')}>" class="mui-iconl"></a>
    <h1 class="mui-title">便民服务</h1>
</header>

<div class="clearfix service">
    <li>
        <a href="<{:U('index/servicePage')}>?type=102" class="clearfix"><span class="serviceIco1">家电维修</span><em></em></a>
    </li>
    <li>
        <a href="<{:U('index/servicePage')}>?type=103" class="clearfix"><span class="serviceIco2">心里咨询</span><em></em></a>
    </li>
    <li>
        <a href="<{:U('index/servicePage')}>?type=104" class="clearfix"><span class="serviceIco3">法律咨询</span><em></em></a>
    </li>
    <li>
        <a href="<{:U('index/servicePage')}>?type=105" class="clearfix"><span class="serviceIco4">订票服务</span><em></em></a>
    </li>
    <li>
        <a href="<{:U('index/servicePage')}>?type=106" class="clearfix"><span class="serviceIco5">快递服务</span><em></em></a>
    </li>
    <li>
        <a href="<{:U('index/servicePage')}>?type=101" class="clearfix"><span class="serviceIco6">家政保洁</span><em></em></a>
    </li>
</div>
<include file="Public/header" />