<include file="Public/header" />

<div class="mui-index" style="padding-bottom: 40px;">
    <header class="mui-bar mui-bar-nav">
        <a class="mui-iconl"></a>
        <h1 class="mui-title">供应商登录</h1>
    </header>
<form action="<{:U('gys/login')}>" method="post">
    <div class="loginTab">

    </div>

    <div class="loginIpt">
        <input type="text" name="gys_name" class="ipt" placeholder="用户名">
    </div>
    <div class="loginIpt">
        <input type="password" name="gys_password" class="ipt" placeholder="密码">
    </div>
    <div class="loginIpt1">
        <input type="submit" name="submit" class="btn" value="登录">
    </div>


</form>
</div>
</body>
</html>